[submodule "hysteria"]
	path = hysteria
	url = https://github.com/netsupcloud/hysteria
[submodule "AndroidLibXrayLite"]
	path = AndroidLibXrayLite
	url = https://github.com/netsupcloud/AndroidLibXrayLite
[submodule "badvpn"]
	path = badvpn
	url = https://github.com/netsupcloud/badvpn
[submodule "libancillary"]
	path = libancillary
	url = https://github.com/netsupcloud/libancillary
[submodule "hev-socks5-tunnel"]
	path = hev-socks5-tunnel
	url = https://github.com/netsupcloud/hev-socks5-tunnel
	branch = master
